<div class="container">
    <div class="about-film">
        <div class="about-film__col-text">
            <h2 class="about-film__headline">ПРО ФІЛЬМ</h2>
            <p class="about-film__text">Художній повнометражний фільм <span>"Заборонений"</span> - це метафорична історія про яскраве життя і загадкову смерть найпотужнішого поета-шістдесятника, правозахисника, героя України – Василя Семеновича Стуса та його боротьбу із системою. 
                Події фільму розгортаються у 1985 році під час останньої спроби <abbr title="Коміте́т держа́вної безпе́ки СРСР">КДБ</abbr> спокусити поета химерною "свободою".
            </p>
        </div>
        <div class="about-film__col-image">
            <img class="about-film__image" src="assets/images/stus-img.jpg">
        </div>
    </div>
</div> 