<div class="actors">
    <div class="container">
        <h2 class="actors__headline">АКТОРСЬКИЙ СКЛАД</h2>
            <!-- Actor 1 -->  
                <div class="actors__card">
                    <div class="actors__card-col-image">
                        <img class="actors__card-image" src="images/cropped-main-actor.png" alt="Дмитро Ярош">
                    </div>
                    <div class="actors__card-col-content">
                        <h3>Дмитро Ярошенко</h3>
                        <p>В ролі Василя Стуса</p>
                    </div>  
                </div>
            <!-- Actor 2 -->  
                <div class="actors__card">
                    <div class="actors__card-col-image">
                        <img class="actors__card-image" src="images/101.png" alt="Дмитро Ярош">
                    </div>
                    <div class="actors__card-col-content">
                        <h3>Євгенія Гладій</h3>
                        <p>В ролі Агента КДБ Віри</p>
                    </div>  
                </div>
            <!-- Actor 3 -->  
                <div class="actors__card">
                    <div class="actors__card-col-image">
                        <img class="actors__card-image" src="images/865986.png" alt="Дмитро Ярош">
                    </div>
                    <div class="actors__card-col-content">
                        <h3>Денис Роднянський</h3>
                        <p>В ролі Василя Шиманського</p>
                    </div>  
                </div>
            <!-- Actor 4 -->  
                <div class="actors__card">
                    <div class="actors__card-col-image">
                        <img class="actors__card-image" src="images/865408.png" alt="Дмитро Ярош">
                    </div>
                    <div class="actors__card-col-content">
                        <h3>Карина Шереверова</h3>
                        <p>В ролі Алли Горської</p>
                    </div>  
                </div>
            <!-- Actor 5 -->  
                <div class="actors__card">
                    <div class="actors__card-col-image">
                        <img class="actors__card-image" src="images/1S0A6678-2.png" alt="Дмитро Ярош">
                    </div>
                    <div class="actors__card-col-content">
                        <h3>Віталій Салій</h3>
                        <p>В ролі Кузнецова</p>
                    </div>  
                </div>
            <!-- Actor 6 -->  
                <div class="actors__card">
                    <div class="actors__card-col-image">
                        <img class="actors__card-image" src="images/840277.png" alt="Дмитро Ярош">
                    </div>
                    <div class="actors__card-col-content">
                        <h3>Мирослава Філіпович</h3>
                        <p>В ролі Михайлини Коцюбинської</p>
                    </div> 
                </div>
            <!-- Actor 7 -->  
                <div class="actors__card">
                    <div class="actors__card-col-image">
                        <img class="actors__card-image" src="images/oleg-nikolaevich-maslennikov-delo-bilo-na-kubani 1.png" alt="Дмитро Ярош">
                    </div>
                    <div class="actors__card-col-content">
                        <h3>Олег Масленніков</h3>
                        <p>В ролі Журавльова</p>
                    </div> 
                </div>
            <!-- Actor 8 -->  
                <div class="actors__card">
                    <div class="actors__card-col-image">
                        <img class="actors__card-image" src="images/unnamed.png" alt="Дмитро Ярош">
                    </div>
                    <div class="actors__card-col-content">
                        <h3>Діана Розовлян</h3>
                        <p>В ролі Валентини Попелюх</p>
                    </div> 
                </div>
    </div>
</div>