<div class="footer">
  <div class="container">
    <h3>{{site.data.footer.headline}}</h3>
    <a class="email" href="mailto:{{site.data.footer.email}}"
      >{{site.data.footer.email_display}}</a
    >
    <div>
      <p>
        © 2020, Stusfilm, Державне агентство України з питань кіно. Усі права
        застережено. Передрук будь-якої інформації дозволяється тільки за умови
        гіпер-посилання на сайт
        <a href="https://stusfilm.com.ua/" target="_blank">stusfilm.com.ua</a>
      </p>
    </div>
  </div>
</div>
