<!------------------------- News section ----------------------------->
<div class="container">
  <h2 class="container__header">Новини</h2>
</div>
<div class="news">
  <div class="news__container container">
    <div class="column">
      <img src="assets/images/interview.png" /><!--картинка с флагом СССР-->
      <h4 class="column__header">
        У Києві почалися зйомки художнього фільму «Птах душі» про Василя Стуса
      </h4>
      <p class="column__paragraph">
        Кінокомпанія UM-GROUP 29 квітня на Хрещатику у Києві офіційно почала
        знімальний період повнометражного художнього фільму «Птах душі» (робоча
        назва) про видатного українського поета і політв’язня Василя Стуса.
      </p>
      <div class="column__link">
        <a
          target="_blank"
          title="Дізнатися більше на сайті"
          href="https://stusfilm.com.ua/blog/u-kiyevi-pochalisya-zyomki-hudozhnogo-filmu-ptah-dushi-pro-vasilya-stusa/"
          style="cursor: alias"
        >
          Більше
        </a>
      </div>
    </div>
    <div class="column">
      <img
        src="assets/images/kamera-motor.png"
      /><!--картинка с митингом или очередью-->
      <h4 class="column__header">Кіно у місті: Архітектура, камера, мотор!</h4>
      <p class="column__paragraph">
        Як розвиток кіновиробництва впливає на місто і чи може кіномистецтво
        стримати стрімку забудівлю Києва, привернути увагу до історичної
        архітектури?
      </p>
      <div class="column__link">
        <a
          target="_blank"
          title="Дізнатися більше на сайті"
          href="https://stusfilm.com.ua/blog/kino-u-misti-arhitektura-kamera-motor"
          style="cursor: alias"
        >
          Більше
        </a>
      </div>
    </div>
  </div>
</div>
<div class="news__button-wrapper container">
  <a href="#" class="blog">БЛОГ</a>
</div>
