<!------------------------- News section ----------------------------->
<div class="container">
  <h2 class="container__header">Новини</h2>
</div>
<div class="news">
  <div class="news__container container">
    <div class="column">
      {% if site.data.news.first-card-image %}
      <img src="{{site.data.news.first-card-image}}" />
      {% endif %}
      <h4 class="column__header">{{site.data.news.first-card-headline}}</h4>
      <p class="column__paragraph">{{site.data.news.first-card-text}}</p>
      <div class="column__link">
        <a
          target="_blank"
          title="Дізнатися більше на сайті"
          href="{{site.data.news.first-card-link}}"
          style="cursor: alias"
        >
          {{site.data.news.first-card-link-display}}
        </a>
      </div>
    </div>
    <div class="column">
      {% if site.data.news.first-card-image %}
      <img src="{{site.data.news.second-card-image}}" />
      {% endif %}
      <h4 class="column__header">{{site.data.news.second-card-headline}}</h4>
      <p class="column__paragraph">{{site.data.news.second-card-text}}</p>
      <div class="column__link">
        <a
          target="_blank"
          title="Дізнатися більше на сайті"
          href="{{site.data.news.second-card-link}}"
          style="cursor: alias"
        >
          {{site.data.news.second-card-link-display}}
        </a>
      </div>
    </div>
  </div>
</div>
<div class="news__button-wrapper container">
  <a href="{{site.data.news.button-link}}" class="blog"
    >{{site.data.news.button-link-display}}
  </a>
</div>
