<div class="stus-face"></div>
<!-------------------------Navigation section ----------------------------->
<div class="navigation">
  <a
    href="{{ site.data.stus-face-and-navigation.button-left-link }}"
    target="_blank"
    class="button button--hero"
  >
    <span> </span>
    {{site.data.stus-face-and-navigation.button-left}}
  </a>
  <a
    href="{{ site.data.stus-face-and-navigation.button-right-link }}"
    target="_blank"
    class="button button--hero navigation__button"
  >
    <span> </span>
    {{site.data.stus-face-and-navigation.button-right}}
  </a>
  <img
    src="images/kino-logo.png"
    class="navigation__kino-logo"
  />
</div>
