<div class="team">
    <div class="container">
        <h2 class="team__header">КОМАНДА</h2> 
        <div class="content-column">
            <ul class="proffession">
                <li class="team__card">
                    <span class="team__card-col">Режисер-постановник</span>
                    <span class="team__card-col">Роман Бровко</span>
                </li>
                <li class="team__card">
                    <span class="team__card-col">Оператор-постановник</span>
                    <span class="team__card-col">Костянтин Пономарьов</span>
                </li>
                <li class="team__card">
                    <span class="team__card-col">Автори сценарію</span>
                    <span class="team__card-col">Сергій Дзюба, Артемій Кірсанов</span>
                </li>
                <li class="team__card">
                    <span class="team__card-col">Композитор</span>
                    <span class="team__card-col">Артем Денисов</span>
                </li>
                <li class="team__card">
                    <span class="team__card-col">Художник-постановник</span>
                    <span class="team__card-col">Олександр Сошальський</span>
                </li>
                <li class="team__card">
                    <span class="team__card-col">Продюсер</span>
                    <span class="team__card-col">Володимир Романов</span>
                </li>
            </ul>
        </div>
    </div>    
</div>