<div class="team">
    <div class="container">
        <h2 class="team__header">КОМАНДА</h2> 
        <div class="content-column">
            <ul class="proffession">
                <li>Режисер-постановник</li>
                <li>Оператор-постановник</li>
                <li>Автори сценарію</li>
                <li>Композитор</li>
                <li>Художник-постановник</li>
                <li>Продюсер</li>
            </ul>
        </div>
        <div class="content-column">
            <ul class="the-person">
                <li>Роман Бровко</li>
                <li>Костянтин Пономарьов</li>
                <li>Сергій Дзюба, Артемій Кірсанов</li>
                <li>Артем Денисов</li>
                <li>Олександр Сошальський</li>
                <li>Володимир Романов</li>
            </ul>
        </div>
    </div>    
</div>