.actors {
  display: block;
  background-image: url(/images/valeriia-bugaiova.png);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  &__card-col-content {
    width: 60%;
    text-align: left;
    margin-left: 90px;
  }

  &__card {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }
  &__card:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    .actors__card-col-content {
      margin-left: 100px;
    }
  }
  &__wrapper {
    background: linear-gradient(
      180deg,
      #000000 -179.35%,
      rgba(0, 0, 0, 0) 100%
    );
    padding: 40px 0;
  }

  &__card-col-image {
    width: 30%;
  }

  &__card-image {
    border-radius: 50%;
    width: 100%;
    max-width: 430px;
  }

  & p {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #cd0000;

    margin-top: 25px;
  }

  &__headline {
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: #cd0000;
    margin-bottom: 90px;
  }
  &__card-col-content > h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    color: #ffffff;
  }
}
@media screen and (max-width: 414px) {
  .actors__headline {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .actors__card {
    justify-content: space-between;
    margin-bottom: 24px;

    &-col-image {
      width: 40%;
    }

    &-col-content {
      margin-left: 10px;
      width: 60%;
    }
  }
  .actors__card:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: space-between;
    .actors__card-col-content {
      margin-left: 10px;
    }
  }
  .actors__card-col-content > h3 {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .actors__card-image {
    border-radius: 50%;
    max-width: 120px;
  }
  .actors p {
    font-size: 20px;
    line-height: 24px;
  }
  .actors__wrapper {
    padding: 20px;
  }
}