.actors {
    display: block;
    background-image: url(/images/valeriia-bugaiova.png);
    background-attachment: fixed;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);

    &__card-col-content {
        width: 60%;
        text-align: left;
        margin-left: 90px;
    }

    &__card {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }
    &__card:nth-child(even) {
            flex-direction: row-reverse;
            justify-content: flex-end;
            .actors__card-col-content {
                margin-left: 100px;
            }
        }
    &__wrapper {
        background: linear-gradient(180deg, #000000 -179.35%, rgba(0, 0, 0, 0) 100%);
        padding: 100px 0;
    }

    &__card-col-image {
        width: 30%;
    }

    &__card-image {
        border-radius: 50%;
        width: 100%;
        max-width: 430px;
    }

    & p {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 40px;
        color: #CD0000;

        margin-top: 25px;
    }

    &__headline {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 70px;
        font-weight: 600;
        color: #CD0000;
        margin-bottom: 90px;
    }
    &__card-col-content > h3 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 60px;
        color:  #FFFFFF;   
    }
}
