.footer {
  position: relative;
  border: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;

  background: #000000;
}
.footer h3 {
  text-align: left;
  padding: 16px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;

  color: #ffffff;
}

.email {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-right: 80%;
  color: #ffffff;
}
.footer p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  padding: 24px 0;

  color: #ffffff;
}
