.hero  {
  background: $gradient;
  background-image: url("/assets/images/hreo.jpg");
  background-size: cover;
  background-position: top center;
  height: 80vh;
  min-height: 700px;
  overflow: hidden;

}
