@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Roboto&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  background-color: white;
  margin: 0;
  color: $colorPrimary;
}
.stus-face {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: calc(100vh - 174px);
  min-height: 500px;
  max-height: 900px;
  background-color: #000000;
  background-image: url(/assets/images/hero.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .stus-face {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: calc(100vh - 174px);
  min-height: 500px;
  max-height: 900px;
  background-image: url(/assets/images/hero.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  }
}