.nav-bar {
  &__content {
    display: flex;
    justify-content: space-between;
  }
  a {
    color: $colorPrimary;
    text-decoration: none;
  }
  display: flex;
}
.nav {
  display: flex;
  justify-content: flex-end;

}
