.navigation {
    position: relative;
    width: 100%;
    height: 175px;
    background-color: #000000;
    
    box-sizing: border-box;
    text-align: center;

    display: flex; /* FLEX IS HERE */
    align-items: center;
    justify-content: center;
    

    &__kino-logo {
        position: absolute;
        right: 0;
        top: 0;

    }
}
