.news {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 32px;
  }
  &__container > * {
    flex-shrink: 2;
  }
  &__button-wrapper {
    text-align: center;
  }
}
.column {
  max-width: 400px;
}

.team:after {
  content: "";
  display: table;
  clear: both;
}
.container__header {
  font-family: "Josefin Sans";
  font-size: 70px;
  font-weight: 600;
  color: #cd0000;
  padding: 30px 0;
  text-transform: uppercase;
  text-align: left;
}

.column__header {
  font-family: "Josefin Sans";
  font-size: 36px;
  padding: 60px 0 30px 0;
  max-width: 480px;
}

.column__paragraph {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  max-width: 480px;
}

.column__link {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  padding: 20px 0;
}

.blog {
  display: inline-block;
  color: #ffffff;
  background-color: #cd0000;
  height: 46px;
  width: 142px;
  font-size: 22px;
  margin: 50px 0;
  border-style: none;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}
.blog:hover {
  cursor: pointer;
  background-color: green;
}
