
/* Team section */

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(180deg, #000000 -179.35%, rgba(0, 0, 0, 0) 100%), url(/images/valeriia-bugaiova.png);
    width: 100%;
    height: 400px;
    margin-top: 0px;
    margin: auto;
    text-align: center;
}
.team__header {
    font-family: 'Josefin Sans';
    font-size: 50px;
    font-weight: 600;
    color: #CD0000;
    padding: 20px;
    text-align: left;
}

.the-person {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;

    color: #FFFFFF;
}
.proffession {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;
    
    color: #FFFFFF;
}
.content-column {
    width: 500px;
}