// Fonts
@font-face {
  font-family: "SharpSansNormal";
  src: url("../fonts/SharpSans-Medium.eot");
  src: url("../fonts/SharpSans-Medium.ttf") format("truetype"), 
       url("../fonts/SharpSans-Medium.woff") format("woff"), 
       url("../fonts/SharpSans-Medium.woff2") format("woff2"); 
}
@font-face {
  font-family: "SharpSansBold";
  src: url("../fonts/SharpSans-Bold.eot");
  src: url("../fonts/SharpSans-Bold.ttf") format("truetype"), 
       url("../fonts/SharpSans-Bold.woff") format("woff"), 
       url("../fonts/SharpSans-Bold.woff2") format("woff2"); 
}

$fontMain: 'SharpSansNormal', sans-serif;
$fontMainBold: 'SharpSansBold', sans-serif;

.typography-container {
  padding: 32px;
  background-color: $colorPrimaryDark;
  color: $colorPrimaryHover;
}

// .h1 {
//   margin-bottom: 36px;
//   font-family: $fontMain;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 256px;
//   line-height: 228px;
//   letter-spacing: -1px;
// }

.h1 {
  margin-bottom: 36px;
  font-family: $fontMain;
  font-style: normal;
  font-weight: bold;
  font-size: 180px;
  line-height: 180px;
  letter-spacing: -1px;
}

.h2 {
  margin-bottom: 36px;
  font-family: $fontMain;
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 110px;
  letter-spacing: -1px;
}

.h3 {
  margin-bottom: 24px;
  font-family: $fontMain;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 92px;
}

.h4 {
  margin-bottom: 8px;
  font-family: $fontMain;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 90px;
}

.h5 {
  margin-bottom: 8px;
  font-family: $fontMain;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}

p {
  font-family: $fontMain;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

ol {
  list-style-type: decimal-leading-zero;

  li {
    color: rgba($white, 0.5);
    
    &.active {
      color: $white;

      &::marker {
        color: $colorPrimaryHover;
      }
    }
  }
}
