// Colors
$colorPrimary: #000;
$colorPrimaryHover: #333;
$colorPrimaryActive: #ccc;
$colorPrimaryDark: #001C22;
$colorSecondary: #405559;
$colorSecondaryHover: #738285;
$colorSecondaryActive: #CCD2D3;
$colorDark: #1A1A1A;
$colorLight: #CCC;
$white: #FFF;

$gradient: linear-gradient(73.65deg, #191919 0%, #353535 87.41%);
$shadow: 0px 20px 70px rgba(45, 63, 230, 0.25), 0px 40px 100px rgba(46, 132, 101, 0.4);
