<div class="btn-container">
  <div class="container">
    <button class="btn btn_primary btn_large">
      Button text<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_secondary btn_large">
      Button text<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_dark btn_large">
      Button text<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_light btn_large">
      Button text<span class="ico-triangle"></span>
    </button>
    
    <button class="btn btn_primary btn_medium">
      test<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_secondary btn_medium">
      test<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_dark btn_medium">
      test<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_light btn_medium">
      test<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_primary btn_small">
      test<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_secondary btn_small">
      test<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_dark btn_small">
      test<span class="ico-triangle"></span>
    </button>

    <button class="btn btn_light btn_small">
      test<span class="ico-triangle"></span>
    </button>
  </div>
</div>
